@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<lu>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>Birth Date: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</lu>